<nav class="p-4 dark:bg-gray-800 dark:text-gray-100 border-b-2">
    <div class="container flex justify-between h-16 mx-auto">
        <div class="flex">
            <a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class="flex items-center p-2">
                <img class="w-auto h-auto sm:h-7" src="../../../assets/landscape logo.png" alt="" />
            </a>
            <ul *ngIf="isUserLoggedIn" class="items-stretch hidden space-x-3 lg:flex">
                <li class="flex">
                    <a
                        routerLink="/timeline"
                        rel="noopener noreferrer"
                        href="#"
                        class="flex items-center px-4 -mb-1 dark:border-transparent"
                        >Timeline</a
                    >
                </li>
                <li class="flex">
                    <a
                        routerLink="/profile/{{ loggedInUser?.userName }}"
                        rel="noopener noreferrer"
                        href="#"
                        class="flex items-center px-4 -mb-1 dark:border-transparent"
                        >My Profile</a
                    >
                </li>
                <li class="flex">
                    <a
                        routerLink="/profile/{{ loggedInUser?.userName }}/followers"
                        rel="noopener noreferrer"
                        href="#"
                        class="flex items-center px-4 -mb-1 dark:border-transparent"
                        >Followers</a
                    >
                </li>
                <li class="flex">
                    <a
                        routerLink="/profile/{{ loggedInUser?.userName }}/following"
                        rel="noopener noreferrer"
                        href="#"
                        class="flex items-center px-4 -mb-1 dark:border-transparent"
                        >Following</a
                    >
                </li>
            </ul>
        </div>
        <div *ngIf="!isUserLoggedIn" class="items-center flex-shrink-0 hidden lg:flex">
            <button routerLink="/login" class="px-8 py-3 font-semibold rounded dark:bg-violet-400 dark:text-gray-900">Log in</button>
        </div>
        <div *ngIf="isUserLoggedIn" class="flex items-center flex-shrink-0 relative">
            <input #search (input)="onSearch(search.value)" class="pl-4 pr-2 py-2 w-72 h-[60%] border border-gray-800 rounded-lg" />
            <div *ngIf="searchedUserList$ | async as searchedUserList" class="absolute top-[55px] bg-gray-100 w-full flex flex-col gap-1">
                <!-- <div routerLink="/profile/{{ searchedUser.userName }}" *ngFor="let searchedUser of searchedUserList" class="bg-gray-200 py-3 px-2">
                    {{ searchedUser.firstName }} {{ searchedUser.lastName }}
                </div> -->
                <user-follow
                    *ngFor="let searchedUser of searchedUserList"
                    [loggedInUser]="loggedInUser"
                    [searchedUser]="searchedUser"
                ></user-follow>
            </div>
        </div>
        <button class="p-4 lg:hidden">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-6 h-6 dark:text-gray-100"
            >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>
</nav>
