.container-div {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 250px;
    height: 50px;
}

.msg-div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-toast {
    background-color: rgb(26, 225, 26);
    border: solid 1px rgb(12, 107, 22);
    border-radius: 6px;
    overflow: hidden;
    .toast-msg {
        color: rgb(0, 0, 0);
    }
}

.warning-toast {
    background-color: rgb(236, 227, 60);
    border: solid 1px rgb(163, 157, 28);
    border-radius: 6px;
    overflow: hidden;
    .toast-msg {
        color: rgb(0, 0, 0);
    }
}

.danger-toast {
    background-color: rgb(250, 88, 88);
    border: solid 1px rgb(126, 15, 15);
    border-radius: 6px;
    overflow: hidden;
    .toast-msg {
        color: rgb(0, 0, 0);
    }
}

.info-toast {
    background-color: rgb(88, 250, 239);
    border: solid 1px rgb(29, 128, 121);
    border-radius: 6px;
    overflow: hidden;
    .toast-msg {
        color: rgb(0, 0, 0);
    }
}
